COMPOSE_PROJECT_NAME=ecommerge
POSTGRES_DB=ecommerge
POSTGRES_USER=ecommerge
POSTGRES_PASSWORD=ecommerge
MYSQL_DATABASE=catalog
MYSQL_USER=ecommerge
MYSQL_PASSWORD=ecommerge
MYSQL_ROOT_PASSWORD=root
REDIS_URL=redis://redis:6379/0
KAFKA_BROKER=kafka:9092
ELASTICSEARCH_URL=http://elasticsearch:9200
